[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
pylint = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
pymysql = "*"
pycryptodomex = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"
